@page "/basiceditor"
<BasicEditorCard EditContext="_EditContext" OnValidSubmit="ValidatedSubmit">
    <InputText @bind-Value="model.Email"></InputText>
</BasicEditorCard>

<BasicEditorCard1 Model="model" OnValidSubmit="ValidatedSubmit">
    <InputText @bind-Value="model.Email"></InputText>
</BasicEditorCard1>

<div>@message</div>

@code {

    public class Model
    {
        public string Email { get; set; }
    }

    private EditContext _EditContext;

    private Model model { get; set; } = new Model() { Email = "me@you.com" };

    private string message = "Not yet clicked";

    protected override Task OnInitializedAsync()
    {
        _EditContext = new EditContext(model);
        return base.OnInitializedAsync();
    }

    private Task ValidatedSubmit(EditContext editContext)
    {
        message = $"clicked at {DateTime.Now.ToLongTimeString()}";
        return Task.CompletedTask;
    }
}
