@page "/EditorForm"
<h3>EditForm</h3>

<EditForm Model="model" @ref="this.editContext" >
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <CustomInputText @bind-Value="model.Email" For="() => model.Email" />
        </div>
    </div>
    <button class="btn btn-success" @onclick="Save">Submit</button>
</EditForm>

@code {

    private string Mode = "Edit";

    private string Title = "Model Editor";

    public class Model
    {
        [Required]
        public string Email { get; set; }

        [Range(18, 80, ErrorMessage = "Age must be between 18 and 80.")]
        public int Age { get; set; }
    }

    private EditContext editContext;


    private Model model { get; set; } = new Model() { Email = "me@you.com" };

    private void Save(MouseEventArgs e)
    {
        FieldIdentifier fi = new FieldIdentifier(model: model, fieldName: "fieldName");
        editContext.
        var x = true;
    }


    private void Cancel()
    {
        var x = true;
    }



}
