@page "/password"
<h3>PasswordTest</h3>

<EditForm EditContext="this.editContext">
    <InputText type="password" @bind-Value="model.Password" @oninput="CheckPassword"></InputText>
</EditForm>
<div>@enteredPassword</div>
<div>@errorMessage</div>
@code {

    private Model model { get; set; } = new Model();

    private string enteredPassword = string.Empty;
    private string errorMessage = "Too short! Keep Typing...";

    private EditContext editContext;

    protected override Task OnInitializedAsync()
    {
        this.editContext = new EditContext(model);
        return Task.CompletedTask;
    }

    private void CheckPassword(ChangeEventArgs e)
    {
        this.enteredPassword = e.Value.ToString();
        if (this.enteredPassword.Length > 7)
            errorMessage = "Good to Go.";
        else
            errorMessage = $"Too short by {this.enteredPassword.Length - 8}! Keep Typing...";
        StateHasChanged();
    }

    public class Model
    {
        public string Password { get; set; }
    }
}
