@page "/Table"
<h3>Table</h3>
<table>
    <TableRow>
        <TableColumn class="mycolumn">My Column</TableColumn>
        <TableColumn class="mycolumn-dark">My Column Dark</TableColumn>
    </TableRow>
</table>
<div>Hello</div>
@code {

}
