@page "/modal"

<div class="m-2 p-2">
    <button class="btn btn-primary" @onclick="GetYesNo">Open</button>
</div>

<div class="m-2 p-2">
    <button class="btn btn-info" @onclick="GetEditor">Open Editor</button>
</div>

<div class="m-2 p-2">
    <button class="btn btn-dark" @onclick="GetCounter">Get FetchData</button>
</div>

<BaseModalDialog @ref="this.Modal"></BaseModalDialog>
@code
{
    private BaseModalDialog Modal { get; set; }

    private void GetEditor(MouseEventArgs e)
    {
        var options = new ModalOptions();
        options.Set(ModalOptions.__ExitOnBackGroundClick, true);
        Modal.ShowAsync<PseudoEditor>(options);
    }

    private void GetYesNo(MouseEventArgs e)
    {
        var options = new ModalOptions();
        options.Set("Message", "<h2>Hello There</h2>");
        Modal.ShowAsync<YesNo>(options);
    }

    private void GetCounter(MouseEventArgs e)
    {
        var options = new ModalOptions();
        options.Set(ModalOptions.__ExitOnBackGroundClick, true);
        Modal.ShowAsync<FetchData>(options);
    }

}
