@page "/Test"
<div class="container-fluid">
    <div class="row">
        <div class="col-md" style="background-color:lightblue">
            this is always visible
        </div>
        @if (displaySecond)
        {
            <div class="col-md" style="background-color:lightcoral">
                optional optic
            </div>
        }

    </div>
    <div class="row">
        <div class="col-md @col1" style="background-color:lightblue">
            this is always visible
        </div>
        @if (displaySecond)
        {
            <div class="col-md @col2" style="background-color:lightcoral">
                optional optic
            </div>
        }

    </div>
    <div class="row">
        <button @onclick="Display2">Display</button>
    </div>
</div>


@code{
    private bool displaySecond = false;

    private void Display2(MouseEventArgs e)
    {
        displaySecond = !displaySecond;
    }

    private string col1 => displaySecond ? "col-md-4" : "";

    private string col2 => displaySecond ? "col-md-8" : "";
}
