@page "/test"
@using Blazor.Starter.Data

<div>
    <TextBox TItem="Model" Data="models" Property="item => item.modelType"></TextBox>
</div>

<div>
    <TextBox TItem="Model" Data="models" Property="item => item.modelType"></TextBox>
</div>

@code {

    public string GetProperty(Model model)
    {
        return model.Value;
    }

    public List<Model> models => new List<Model>()
{
        new Model() { Value = "Fred", modelType=1, IsValid = true},
        new Model() { Value = "Liz", modelType=2, IsValid = true},
        new Model() { Value = "Bob", modelType=1, IsValid = true},
        new Model() { Value = "Jane", modelType=2, IsValid = true},
     };

    public List<Model2> model2s => new List<Model2>()
{
        new Model2() { Value = "Fred", modelType=1, IsValid = true},
        new Model2() { Value = "Liz", modelType=2, IsValid = true},
        new Model2() { Value = "Bob", modelType=1, IsValid = true},
        new Model2() { Value = "Jane", modelType=2, IsValid = true},
     };


    public class Model
    {
        public string Value { get; set; }
        public int modelType { get; set; }
        public bool IsValid { get; set; }
    }

    public class Model2
    {
        public string Value { get; set; }
        public int modelType { get; set; }
        public bool IsValid { get; set; }
    }

}