@page "/Test"

@{ var x = 1;}
@foreach (var c in Countries)
{
    <div> @x - @c</div>
    x++;
}

@code {

    private string _message = "Starting";

    protected async override Task OnInitializedAsync()
    {
        _message = "Sync Code running";
        await Task.Delay(2000);
        _message = "Async Code completed";
    }

    private List<string> Countries => new List<string>() { "Adijan", "Lagos", "Tripoli" };
}
