@inherits LayoutComponentBase

<style>
    .resLogo {
        width: 100%;
        max-width: 150px;
        height: auto;
    }
</style>
<div class="top-row px-4 auth">
    Login Display
</div>
<div class="row" style="margin:0px;">
    <div class="col" />
    <div class="col-sm-2">
        <img class="resLogo" src="img/logo.png" />
    </div>
    <div class="col-sm-8">
        <p style="font-size:1vw">text1</p>
        <p style="font-size:1vw">text2</p>
        <p style="font-size:3vw">text3</p>
        <p style="font-size:2vw">text4</p>
        <p style="font-size:1.5vw">text5</p>
    </div>
    <div class="col" />
</div>
<div class="content" style="margin:0px">
    @Body
</div>
<div>
    This is the footer
</div>